load-confounds==0.6.4
matplotlib==2.1.2
nibabel==3.2.1
nilearn==0.7.0
nmmn==0.8.9
notebook==5.4.0
numpy==1.19.4
pandas==1.1.4
pathlib==1.0.1
pybids==0.12.3
python-dateutil==2.8.1
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.8.1
sklearn==0.0
testpath==0.3.1
